.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 95px 50px;
}

.header__logo {
	margin-left: 32px;
	width: 125px;
	height: 100px;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 13px;
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 13px;
	list-style: circle outside;
}

.nav-list__item {
	margin-left: 10px;
	line-height: 24px;
}

.nav-list__item--no-marker {
	list-style: none;
	padding-left: 0;
}

.nav-link {
	cursor: pointer;
	text-decoration: underline;
}

.nav-link--active {
	text-decoration: none;
}

.address {
	display: flex;
	flex-direction: column;
	max-width: 210px;
	line-height: 24px;
	font-style: normal;
}

.address__link {
	color: black;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 120px;
	margin-bottom: 120px;
}

.hero {
	width: 100%;
	min-height: 757px;
	padding: 0 50px;
	background-image: url('../images/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.hero__title-line {
	display: block;
	width: 100%;
	color: white;
	font-weight: 700;
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 28px;
	position: relative;
	z-index: 20;
}

.hero__title-line--left {
	margin-top: 165px;
	text-align: start;
}

.hero__title-line--center {
	line-height: 115%;
}

.hero__title-line--right {
	text-align: end;
	margin-bottom: 105px;
	margin-left: 30px;
}

.hero__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	position: relative;
	z-index: 20;
}

.hero__subtitle {
	color: white;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	word-spacing: 15px;
}

.hero__button {
	border: 1px solid white;
	color: white;
	background: none;
	font-size: 22px;
	width: 256px;
	height: 51px;
	padding: 0;
	text-transform: uppercase;
	cursor: pointer;
}

.lots {
	padding: 0 24px;
	margin-top: 60px;
	width: 100%;
}

.lots__title {
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0 27px 40px 40px;
}

.lots__list {
	display: flex;
	gap: 25px;
	margin-bottom: 30px;
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.lots__link {
	display: block;
	text-decoration: none;
}

.lot-card {
	width: 334px;
	min-height: 596px;
	position: relative;
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: center, center;
	padding: 48px 40px;
	box-sizing: border-box;
	display: flex;
}

.lot-card--film {
	background-image: url('../images/card-lot-01.jpg');
}

.lot-card--book {
	background-image: url('../images/card-lot-02.jpg');
}

.lot-card--picture {
	background-image: url('../images/card-lot-03.jpg');
}

.lot-card__content {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	position: relative;
	z-index: 20;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.lot-card__title {
	color: white;
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	text-transform: uppercase;
	text-decoration: underline;
}

.lot-card__text {
	font-weight: 400;
	font-size: 20px;
}

.lots__more-link {
	font-weight: 400;
	font-size: 20px;
	margin-left: 40px;
	text-underline-offset: 5px;
	text-decoration-thickness: 1px;
	text-decoration-skip-ink: auto;
}

.about {
	padding: 35px 70px 0;
	display: flex;
	column-gap: 72px;
}

.about__logo {
	min-width: 240px;
	width: 240px;
	height: 240px;
	background-color: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__logo-image {
	width: 148px;
	height: 114px;
	object-fit: cover;
}

.about__content {
	margin-top: 100px;
}

.about__title {
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.about__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin-top: 24px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	min-height: 180px;
	padding: 0 50px;
	background: #fff;
}

.footer__nav {
	text-align: center;
	font-size: 18px;
}

.footer__link {
	color: black;
	text-decoration: underline;
	text-underline-offset: 4px;
	display: block;
	margin-bottom: 4px;
}

.footer__link--active {
	text-decoration: none;
}

.footer__social {
	display: flex;
	gap: 40px;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
}

.social-link img {
	width: 48px;
	height: 48px;
}
