.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 95px 50px;
}

.header__logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 125px;
	height: 100px;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 13px;
}

.header__nav-divider {
	width: 6px;
	height: 6px;
	border: 0.5px solid black;
	border-radius: 50%;
}

.header__nav-item {
	cursor: pointer;
	text-decoration: underline;
}

.header__address {
	display: flex;
	flex-direction: column;
	max-width: 210px;
	line-height: 24px;
    font-style: normal;
}

.header__address-tel,
.header__address-mail {
	color: black;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 120px;
	margin-bottom: 120px;
}

.main__banner {
	width: 100%;
	height: 757px;
	padding: 0 50px;
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.6)
		),
		url('../images/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main__banner-text {
	width: 100%;
	color: white;
	font-weight: 700;
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 28px;
}

.main__banner-text.first {
	margin-top: 165px;
	text-align: start;
}

.main__banner-text.third {
	text-align: end;
	margin-bottom: 105px;
	margin-left: 30px;
}

.main__banner-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
}

.main__banner-footer-text {
	color: white;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	word-spacing: 15px;
}

.main__banner-footer-btn {
	border: 1px solid white;
	color: white;
	background: none;
	font-size: 22px;
	width: 256px;
	height: 51px;
	padding: 0;
	text-transform: uppercase;
    cursor: pointer;
}

.main__banner-lots {
	padding: 0 24px;
	margin-top: 60px;
	width: 100%;
}

.main__banner-lots-title {
	font-weight: 700;
	font-style: Bold;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0 27px 40px 40px;
}

.main__banner-lots-cards {
	display: flex;
	gap: 25px;
	margin-bottom: 30px;
}

.main__banner-lots-card {
	width: 334px;
	height: 596px;
	position: relative;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.main__banner-lots-card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__banner-lots-card-info {
	color: white;
	position: absolute;
	width: 254px;
	height: calc(100% - 96px);
	left: 40px;
	top: 48px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main__banner-lots-card-title {
	color: white;
	font-weight: 700;
	font-style: Bold;
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0%;
	text-transform: uppercase;
	text-decoration: underline;
}

.main__banner-lots-card-text {
	font-weight: 400;
	font-size: 20px;
}

.main__banner-lots-more {
	text-decoration: underline;
	cursor: pointer;
	margin-left: 40px;
}

.main__auction {
	padding: 35px 50px 0;
	display: flex;
	column-gap: 72px;
}

.main__auction__logo {
	min-width: 240px;
	width: 240px;
	height: 240px;
	background-color: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__auction__logo-img {
	width: 148px;
	height: 114px;
	object-fit: cover;
}

.main__auction-info-title {
	font-weight: 700;
	font-style: Bold;
	font-size: 40px;
	text-transform: uppercase;
}

.main__auction-info {
	margin-top: 133px;
}

.main__auction-info-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin-top: 24px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
    height: 180px;
	padding: 0 50px;
	background: #fff;
}

.footer__contacts {
	max-width: 250px;
	font-size: 18px;
}

.footer__link {
	display: flex;
	flex-direction: column;
	max-width: 210px;
	line-height: 24px;
    font-style: normal;
}

.footer__nav {
	text-align: center;
	font-size: 18px;
}

.footer__nav-link {
	color: black;
	text-decoration: underline;
	text-underline-offset: 4px;
	display: block;
	margin-bottom: 4px;
}

.footer__social {
	display: flex;
	gap: 40px;
}

.footer__social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
}

.footer__social-link img {
	width: 48px;
	height: 48px;
}
